Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

fix internal api status of Invokable
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/internal/Invokable.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@7714395ab7c9ae494cfffd92a6d3637b90c3e1c1 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/features/internal/Invokable.html
Labels: none

add component reply to InvocationContext#cancel
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/PermissionsMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@26bd0c6463b3b5b50faed5bb149de3e8cec7a9a0 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/context/InvocationContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/validation/Validator.Context.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/Helpers.html
  javadocs/snapshot/member-search-index.js
Labels: none

bump Fluava to 1.1.1
  gradle/libs.versions.toml
Labels: none

Add separate localizer functionality for keys from JDA
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/Localizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Add separate localizer functionality for keys from JDA (#312)
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/Localizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Use MessageResolver in JdacLocalizationFunction
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Fix import
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@a63f093dd0afaf63b7e3e7a834faffcaf1cd3263 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/Localizer.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.html
  javadocs/snapshot/member-search-index.js
Labels: none

bump Fluava to 1.2.1
  gradle/libs.versions.toml
Labels: none

Use MessageResolver inside JDALocalizationFuction (allows emojis etc.) (#313)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@c24b096184b64e72c60fb8305a350ffe29713217 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Enumeration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Map.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Singleton.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/I18n.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.html
  javadocs/snapshot/member-search-index.js
Labels: none

update dependencies
  gradle/libs.versions.toml
Labels: none

add convenience method for property retrieval on JDACommands
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
Labels: meta:source code

add suppressNotifications flag to ReplyConfig
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/test/java/definitions/config/ReplyConfigTest.java
Labels: meta:source code

add support for allowedMentions and mention in ReplyConfig
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/test/java/definitions/config/ReplyConfigTest.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@b5460ac2b86ee90db292f69f3bf19a11e62c2e9f 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACommands.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/JDAEventListener.html
  javadocs/snapshot/member-search-index.js
Labels: none

fix test
  core/src/test/java/definitions/config/ReplyConfigTest.java
Labels: meta:source code

update wiki
  wiki/docs/interactions/reply.md
Labels: meta:wiki

Enhance reply config (#315)
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/test/java/definitions/config/ReplyConfigTest.java
  wiki/docs/interactions/reply.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@a16a9719430dc176790144f0c5e0f0edb7314ae7 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.ReplyConfig.Builder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.ReplyConfig.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/member-search-index.js
Labels: none

fix enumset creation
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
Labels: meta:source code

add new preparation stage
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
Labels: meta:source code

add missing IntrospectionAccess annotations
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/TypeAdapter.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
Labels: meta:source code

Make JDA event accessible for type adapaters (#318)
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/TypeAdapter.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@733889b27d1a02962dbf19d43495bd253292032b 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/IntrospectionAccess.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/adapter/TypeAdapter.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/validation/Validator.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/introspection/Stage.html
  javadocs/snapshot/member-search-index.js
Labels: none

add default varargs method to resolver
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@400660012cfde293e8d16f33eef6ea76f04648f6 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/emoji/EmojiResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/I18n.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/ComponentResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/MessageResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/Resolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.html
  javadocs/snapshot/member-search-index.js
Labels: none

make Component#withUniqueId return self
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@f3a97df37a43e57c230e0768e011ff793c8d1f7c 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/Component.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.html
  javadocs/snapshot/member-search-index.js
Labels: none

use new preparation stage inside TypeAdapters
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

fix keepSelections applying to all menus
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

fix ComponentReplacer reply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@727c3245e8939e400e8da50aad52c226e1c58896 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/MessageReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/SendableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/member-search-index.js
Labels: none

bandaid fix JDA bug
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
Labels: meta:source code

apply uniqueId fix in all places
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@ffd6148b548953e383e86ddc903b273c93bae445 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.html
Labels: none

always apply internal ComponentResolver last
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

add no-op reply method
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code
