Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

fix again uniqueId
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
Labels: meta:source code

fix unit tests
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/components/EntitySelectInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ReplyableInvocation.java
Labels: meta:source code

Add support for injecting properties when using @Implementation
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/Implementation.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PerInteractionModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PropertyProviderModule.java
Labels: meta:source code

Update wiki
  wiki/docs/di.md
  wiki/docs/misc/introspection.md
  wiki/mkdocs.yml
Labels: meta:wiki

Fix javadocs
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
Labels: meta:source code

Fix javadocs again
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
Labels: meta:source code

Javadoc changes
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/Implementation.java
Labels: meta:source code

Allow injection when using @Implementation (#319)
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/Implementation.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PerInteractionModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PropertyProviderModule.java
  wiki/docs/di.md
  wiki/docs/misc/introspection.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@33c3d63af07400584d9af41ff081e4b10e640dbd 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Enumeration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Map.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Singleton.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/io.github.kaktushose.jdac.guice/io/github/kaktushose/jdac/guice/Implementation.html
  javadocs/snapshot/io.github.kaktushose.jdac.guice/io/github/kaktushose/jdac/guice/internal/guice/PropertyProviderModule.html
  javadocs/snapshot/io.github.kaktushose.jdac.guice/io/github/kaktushose/jdac/guice/internal/guice/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.guice/io/github/kaktushose/jdac/guice/internal/guice/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

add resolver overload with DiscordLocale
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
Labels: meta:source code

fix nullability of placeholders in Embeds
  core/src/main/java/io/github/kaktushose/jdac/embeds/EmbedDataSource.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@09669c945b1319a7a98cf28cdd34fed814122f5c 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/EmbedDataSource.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/internal/Embeds.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/emoji/EmojiResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/I18n.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/ComponentResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/MessageResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/Resolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.html
  javadocs/snapshot/member-search-index.js
Labels: none

Fix recursive update
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
Labels: meta:source code

Load jda localization keys from bundle defined by @Bundle on class
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalProperties.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/BundleFinder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Fix tests
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/BundleFinder.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/embeds/EmbedTest.java
Labels: meta:source code

Add wiki note
  wiki/docs/message/localization.md
Labels: meta:wiki

Use DiscordLocale overrides
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

fix getButton(origin, button)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

fix getButton(origin, button) (#322)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

make ReflectiveDescriptor describe all methods
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/ReflectiveDescriptor.java
Labels: meta:source code

fix unit test
  core/src/test/java/definitions/description/ClassDescriptionTest.java
Labels: meta:source code

fix javadocs
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
Labels: meta:source code

fix codacy
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Respect `@Bundle` on interaction controller classes in LocalizationFunction (#320)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalProperties.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/ReflectiveDescriptor.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/BundleFinder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/description/ClassDescriptionTest.java
  core/src/test/java/embeds/EmbedTest.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@34f356a504a47cf51bdc210b7159ac78b2dd921c 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/constant-values.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/internal/InternalProperties.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/CommandDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/register/CommandUpdater.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/introspection/Definitions.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/I18n.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/BundleFinder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

add gitattributes and update gitignore
  .gitattributes
  .gitignore
Labels: none

update libs.versions.toml format
  core/build.gradle.kts
  gradle/libs.versions.toml
  guice-extension/build.gradle.kts
  jda-commands/build.gradle.kts
  processor/build.gradle.kts
  testing/build.gradle.kts
Labels: none

update dependencies
  gradle/libs.versions.toml
Labels: none

add spotless formatter
  .gitattributes
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: none

fix module info
  core/src/main/java/module-info.java
Labels: meta:source code

add editor config
  .editorconfig
Labels: none

fix module info
  core/src/main/java/module-info.java
Labels: meta:source code

add editor config
  .editorconfig
Labels: none

update editor config
  .editorconfig
Labels: none

update editor config
  .editorconfig
Labels: none

apply spotless
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiSource.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/test/java/definitions/config/CommandConfigTest.java
  core/src/test/java/messages/PlaceholderResolverTest.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PerInteractionModule.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/AnnotationCopy.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ListCreatorProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/PropertyProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
Labels: meta:source code

enable gradle configuration cache
  gradle.properties
Labels: none

don't format annotations with spotless
  build.gradle.kts
Labels: none

add dependabot
  .github/dependabot.yml
Labels: none

migrate to jackson 3
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
Labels: meta:source code
