Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

Decide on snapshot version automatically
  build.gradle.kts
Labels: none

First pass on wiki
  wiki/docs/misc/property/overview.md
Labels: meta:wiki

first proof of concept for components v2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/CV2Reply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
Labels: meta:source code

split ReplyAction into MessageReplyAction and ComponentReplyAction
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

implement cv2 reply methods and move message based replies to own class
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/CV2Reply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

make ConfigurableReply inherit from MessageReply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

reimplement SendableReply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/SendableReply.java
Labels: meta:source code

add javadocs for cv2 methods
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
Labels: meta:source code

more javadocs
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
Labels: meta:source code

fix SendableReply overriding the ReplyAction
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/SendableReply.java
Labels: meta:source code

prevent removeComponents on cv2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

ignore keepComponents behaviour for cv2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

fix keepComponents not working
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
Labels: meta:source code

make Component implement ActionRowChildComponentUnion
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.java
Labels: meta:source code

first pass on support for ActionComponents
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/test/java/reply/ComponentsV1Test.java
Labels: meta:source code

add test case for keepComponents and editReply false
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/reply/MessageEventReply.java
Labels: meta:source code

remove redundant overload
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
Labels: meta:source code

fully implement v2 action components and restore integrity
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

implement duplicate check
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/test/java/reply/ComponentsV1Test.java
Labels: meta:source code

use ComponentReplacer for keepSelections
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

reintroduce combined ReplyAction
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

set components v2 flag on edit reply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

make ButtonComponent a SectionAccessoryComponentUnion
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
Labels: meta:source code

Change Mapping to Map
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

implement ComponentReplacer for followup replies
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

make error handling cv2 compatible
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
Labels: meta:source code

improve exception handling
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

remove cv2 limitation on builder
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Add wiki for properties
  wiki/docs/misc/property/overview.md
Labels: meta:wiki

add uniqueId to action components
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Button.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/EntitySelectMenu.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/StringSelectMenu.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ComponentDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.java
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

Add old extension overview
  wiki/docs/misc/property.md
  wiki/mkdocs.yml
Labels: meta:wiki

Finalize wiki
  wiki/docs/misc/extension/overview.md
  wiki/docs/misc/extension/writing.md
  wiki/mkdocs.yml
Labels: meta:wiki

Fix some references
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  jda-commands/build.gradle.kts
  wiki/docs/misc/extension/configuring.md
  wiki/docs/misc/extension/writing.md
  wiki/docs/misc/property.md
  wiki/requirements.txt
Labels: meta:wiki, meta:source code

wiki changes
  wiki/docs/interactions/reply.md
Labels: meta:wiki

small changes
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionException.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/resources/jdac_internal_en.ftl
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  wiki/docs/misc/extension/writing.md
  wiki/docs/misc/property.md
Labels: meta:wiki, meta:source code

Address review
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  guice-extension/src/main/java/module-info.java
Labels: meta:source code

Add missing !
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
Labels: meta:source code

move removeComponents to ComponentEvent
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
Labels: meta:source code

use UnsupportedOperationException instead of IllegalStateException
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
Labels: meta:source code

finish wiki for components v2
  wiki/docs/interactions/reply.md
  wiki/docs/message/overview.md
  wiki/mkdocs.yml
  wiki/requirements.txt
Labels: meta:wiki
