Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

Disable maven central deploy
  .github/workflows/cd.yml
Labels: meta:ci

Fix
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Test
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Remove explicit page-url settings
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

add permission
  .github/workflows/cd.yml
Labels: meta:ci

Test
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

use old logic
  .github/workflows/cd.yml
Labels: meta:ci

Checkout base branch again
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

test it
  core/src/main/java/io/github/kaktushose/jdac/Test.java
  wiki/docs/index.md
Labels: meta:wiki, meta:source code

remove artifact after deploy
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

use push action
  .github/workflows/cd.yml
Labels: meta:ci

use right action
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

add new line
  wiki/docs/index.md
Labels: meta:wiki

add required permission
  .github/workflows/cd.yml
Labels: meta:ci

Remove testing logic
  .github/workflows/cd.yml
  core/src/main/java/io/github/kaktushose/jdac/Test.java
  wiki/docs/index.md
Labels: meta:wiki, meta:source code, meta:ci

Wiki ci wait for javadoc (#273)
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
  wiki/docs/index.md
Labels: meta:wiki, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@daba0f81a5ed80cfc5023eee08b2ea301fe587b1 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/Test.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

final wiki changes
  wiki/docs/di.md
  wiki/docs/message/emojis.md
  wiki/docs/message/localization.md
  wiki/docs/message/overview.md
  wiki/docs/message/placeholder.md
  wiki/docs/misc/error-handling.md
  wiki/docs/misc/reflection.md
Labels: meta:wiki

Remove cooldown feature (#272)
  core/src/examples/embeds.json
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Cooldown.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/Definition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/CooldownMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  core/src/test/java/definitions/TestHelpers.java
  wiki/docs/assets/cooldown.png
  wiki/docs/middlewares/cooldown.md
  wiki/docs/middlewares/overview.md
  wiki/docs/misc/error-handling.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@174a6f018ccd5ca94b6cb031d3901d9f6e3cd467 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/Cooldown.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/Definition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.CooldownDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/Middleware.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/impl/CooldownMiddleware.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/impl/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/impl/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/internal/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

fix broken javadoc links
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDAContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ConfigurationException.java
Labels: meta:source code

Update wiki for stable release (#274)
  .github/workflows/build_ci.yml
  .github/workflows/wiki_ci.yml
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDAContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ConfigurationException.java
  wiki/docs/di.md
  wiki/docs/index.md
  wiki/docs/interactions/commands.md
  wiki/docs/interactions/reply.md
  wiki/docs/message/emojis.md
  wiki/docs/message/localization.md
  wiki/docs/message/overview.md
  wiki/docs/message/placeholder.md
  wiki/docs/middlewares/overview.md
  wiki/docs/misc/error-handling.md
  wiki/docs/misc/reflection.md
  wiki/docs/start/installation.md
  wiki/docs/start/quick-start.md
  wiki/docs/start/runtime.md
Labels: meta:wiki, meta:source code, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@26165ceaf7446804d57378182d44b933b7d2ad0e 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACBuilder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDAContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/context/InvocationContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/ConfigurationException.html
Labels: none

Release 4.0.0 : Stable Release
  README.md
  build.gradle.kts
Labels: none

First pass
  core/src/main/java/io/github/kaktushose/jdac/configuration/ConfigurationContext.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Loader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
Labels: meta:source code

Add cycling dependency detection
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Loader.java
Labels: meta:source code

Simplify PropertyType
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Loader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
Labels: meta:source code

Make new JDACBuilder complete
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Loader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
Labels: meta:source code

Add default property values
  core/src/main/java/io/github/kaktushose/jdac/JDAContext.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
Labels: meta:source code

Replace old with new Builder
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Loader.java
  core/src/main/java/io/github/kaktushose/jdac/extension/Implementation.java
  core/src/main/java/io/github/kaktushose/jdac/extension/JDACBuilderDataOld.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
Labels: meta:source code

Now working :)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Extensions.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/extension/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/extension/Implementation.java
  core/src/main/java/io/github/kaktushose/jdac/extension/JDACBuilderDataOld.java
  core/src/main/java/module-info.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
Labels: meta:source code

Check scope
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/module-info.java
Labels: meta:source code

Simplify user api
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyTypes.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Enumeration.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Instance.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Mapping.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
Labels: meta:source code

Integration extension system
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionFilter.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassFinder.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Descriptor.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/extension/Implementation.java
  core/src/main/java/io/github/kaktushose/jdac/extension/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiSource.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/Localizer.java
  core/src/main/java/io/github/kaktushose/jdac/permissions/PermissionsProvider.java
  core/src/main/java/io/github/kaktushose/jdac/scope/GuildScopeProvider.java
  core/src/main/java/module-info.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtensionData.java
  guice-extension/src/main/java/module-info.java
  guice-extension/src/main/resources/META-INF/services/io.github.kaktushose.jdac.configuration.Extension
Labels: meta:source code

Don't expose internal PropertyTypes
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ConfigurationContext.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/internal/JDAContext.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/SlashCommandUpdater.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
Labels: meta:source code

Fully implement extension system
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyType.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Enumeration.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Instance.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/type/Mapping.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/GuiceExtension.java
Labels: meta:source code

Move GuiceExtension to internal package
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/module-info.java
  guice-extension/src/main/resources/META-INF/services/io.github.kaktushose.jdac.configuration.Extension
Labels: meta:source code

Formatting
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Rename Instance -> Singleton
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

just call build.
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
Labels: meta:source code
