Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

Fix javadocs not building
  jda-commands/build.gradle.kts
Labels: none

Fix codacy
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ListCreatorProcessor.java
Labels: meta:source code

Check if right category is set
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
Labels: meta:source code

Add note that class is generated
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

A bit of formatting
  processor/build.gradle.kts
  settings.gradle.kts
Labels: none

rename select menu annotations
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/EntityMenu.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Interaction.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/MenuOption.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/StringMenu.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
  core/src/test/java/reply/ComponentsV1Test.java
  wiki/docs/interactions/components.md
  wiki/docs/start/quick-start.md
Labels: meta:wiki, meta:source code

remove TextInput annotation
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Modal.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/TextInput.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/Definition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/JDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

remove ModalBuilder
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
Labels: meta:source code

add support for new modals
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
Labels: meta:source code

move mapping handover to event class
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
Labels: meta:source code

add documentation
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Modal.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
  wiki/docs/interactions/modals.md
Labels: meta:wiki, meta:source code

first pass on modal mapping
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Mapped.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Validate property fields and automatically generate property lists (#307)
  core/build.gradle.kts
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/module-info.java
  jda-commands/build.gradle.kts
  processor/build.gradle.kts
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/AbortException.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/AnnotationCopy.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ListCreatorProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/Property.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/PropertyProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/api/PropertyProcessed.java
  processor/src/main/java/module-info.java
  processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  settings.gradle.kts
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@e2633eb5416bef530990a69bdabcb1833776ef3a 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
Labels: none

Expose Resolver via properties
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
  core/src/test/java/embeds/EmbedTest.java
Labels: meta:source code

Fix property information annotation
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

wiki
  wiki/docs/message/overview.md
Labels: meta:wiki

Remove static PlaceholderResolver#resolve
  core/src/main/java/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.java
  core/src/test/java/messages/PlaceholderResolverTest.java
  core/src/test/java/messages/TestHelpers.java
Labels: meta:source code

Differentiate priorities a bit more
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  wiki/docs/message/overview.md
Labels: meta:wiki, meta:source code

Fix priority javadoc
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.java
Labels: meta:source code

Add wiki
  wiki/docs/message/overview.md
Labels: meta:wiki

Remove I18n#localize in favor of resolve
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
Labels: meta:source code

Add PLACEHOLDER_RESOLVER
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Address review
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/test/java/messages/PlaceholderResolverTest.java
  core/src/test/java/messages/TestHelpers.java
Labels: meta:source code

Resolve conflicts
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Fix wiki
  wiki/docs/message/localization.md
Labels: meta:wiki

Fix javadocs
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
Labels: meta:source code

Support for custom string resolvers (#301)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/message/emoji/EmojiResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/main/java/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
  core/src/test/java/embeds/EmbedTest.java
  core/src/test/java/messages/PlaceholderResolverTest.java
  wiki/docs/message/localization.md
  wiki/docs/message/overview.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@1ed6695bca5e6bc9e1412e94be004aeb484d850d 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACBuilder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Enumeration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Map.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Singleton.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/Event.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/AutoCompleteEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/Component.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/emoji/EmojiResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/emoji/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/I18n.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/PlaceholderResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/ComponentResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/MessageResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/Resolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/package-summary.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
Labels: none

Revert "first pass on modal mapping"
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Mapped.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

add proteus convenience methods
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
Labels: meta:source code

address review
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
Labels: meta:source code

Add support for new Modals (#308)
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/EntityMenu.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Interaction.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/MenuOption.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Modal.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/StringMenu.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/TextInput.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/Definition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/JDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
  core/src/test/java/reply/ComponentsV1Test.java
  wiki/docs/interactions/components.md
  wiki/docs/interactions/modals.md
  wiki/docs/start/quick-start.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@2725daad841fa80c682acbda0e1202e191eeee51 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACommands.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/EntityMenu.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/Interaction.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/MenuOption.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/Modal.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/StringMenu.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/TextInput.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/Definition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/features/JDAEntity.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.TextInputDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/Component.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/Helpers.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

make DefaultErrorMessageFactory non final
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@7196ca6f7590622c8cad12370d264dc05ebf7c5b 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.html
Labels: none

change modal reply method signature
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
Labels: meta:source code

add missing api for foreign modals
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Modal.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  wiki/docs/interactions/modals.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@bd612d67613819ab49dd4d8020523d85544e17e9 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/Modal.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/member-search-index.js
Labels: none

fix module-info
  core/src/main/java/module-info.java
Labels: meta:source code
