Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@fd49e79644d189669e3c53bb2280c5d9ef77b98a 🚀
  javadocs/4.0/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/AutoComplete.html
Labels: none

Update JDA version in wiki from 5.x to 6.x
  wiki/docs/start/installation.md
Labels: meta:wiki

fix duplicate check preventing components being replaced
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
Labels: meta:source code

remove duplicate check
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

remove obsolete test
  core/src/test/java/reply/ComponentsV1Test.java
Labels: meta:source code

first pass on component localization
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ParsingException.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/ComponentLocalizer.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

remove no op reply method
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
Labels: meta:source code

generify json localization api
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/ComponentLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/EmbedLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/Localizer.java
Labels: meta:source code

Remove duplicate component check (#287)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/resources/jdac_internal_en.ftl
  core/src/test/java/reply/ComponentsV1Test.java
Labels: meta:source code

use ComponentLocalizer for v1 action components
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/ComponentLocalizer.java
Labels: meta:source code

rename Localizer -> Resolver
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/Resolver.java
Labels: meta:source code

fix embed resolver
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/Resolver.java
Labels: meta:source code

update wiki
  wiki/docs/interactions/reply.md
  wiki/mkdocs.yml
Labels: meta:wiki

fix javadoc references
  wiki/docs/interactions/reply.md
Labels: meta:wiki

move resolver to message package
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/message/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/internal/Resolver.java
Labels: meta:source code

address review
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/message/ComponentResolver.java
Labels: meta:source code

Add Localization for Components V2 (#292)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ParsingException.java
  core/src/main/java/io/github/kaktushose/jdac/message/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/internal/Resolver.java
  core/src/main/resources/jdac_internal_en.ftl
  wiki/docs/interactions/reply.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@3e3f459a0fd4db8c572a84c24feafc43a8177bd0 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/element-list
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/ParsingException.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/ComponentResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/EmbedResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/internal/Resolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/internal/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/internal/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/package-summary.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/package-search-index.js
  javadocs/snapshot/type-search-index.js
Labels: none

First pass on introspection api
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalProperties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/internal/Invokable.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ComponentHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntroAccess.java
  core/src/main/java/module-info.java
Labels: meta:source code

Use introspection api in InteractionControllerInstantiator
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInteractionControllerInstantiator.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

Move invocationcontext creation out of EventHandler#prepare
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ComponentHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/module-info.java
Labels: meta:source code

Use builder for properties
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

Add Lifecycle api and use it to remove old instances in guice extension
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionFilter.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Extensions.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/Lifecycle.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Event.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscriber.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscription.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeCloseEvent.java
  core/src/main/java/module-info.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInteractionControllerInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/GuiceExtensionModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PerInteractionModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
Labels: meta:source code

Make sure introspection scope value is always set inside Subscriber#accept
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/Lifecycle.java
Labels: meta:source code

Always set Introspection as scoped value
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
Labels: meta:source code

Add more events and expose used introspection instance in Subscriber
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/Lifecycle.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Event.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscriber.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkShutdownEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionFinishedEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeOpenEvent.java
  core/src/main/java/module-info.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

Minor cleanup changes
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/module-info.java
Labels: meta:source code

Use Introspection instead of Resolver internally
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ComponentHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
Labels: meta:source code

Add Exception to InteractionFinishedEvent
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionFinishedEvent.java
Labels: meta:source code

Expose key value store as property
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
Labels: meta:source code

Guice: Make many classes injectable and fix per runtime instance cache
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInteractionControllerInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/InteractionControllerInstantiatorModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/PerInteractionModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/PerModuleScope.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/RuntimeBoundScope.java
Labels: meta:source code

Add IntrospectionAccess where useful
  core/src/main/java/io/github/kaktushose/jdac/components/ComponentDataSource.java
  core/src/main/java/io/github/kaktushose/jdac/components/ComponentDto.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/TypeAdapter.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/Middleware.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/permissions/PermissionsProvider.java
Labels: meta:source code

Codacy..
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Start adding javadocs
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntroAccess.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/Lifecycle.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Event.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscriber.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscription.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkShutdownEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionFinishedEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeCloseEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeOpenEvent.java
  core/src/main/java/module-info.java
Labels: meta:source code

Resolve conflicts
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/module-info.java
Labels: meta:source code

Finish javadocs and minor adjustments
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/Lifecycle.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Event.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/FrameworkEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscriber.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscription.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkShutdownEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/FrameworkStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionFinishedEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/InteractionStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeCloseEvent.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/events/RuntimeOpenEvent.java
Labels: meta:source code

Check for cancellation of interaction inside InteractionStartEvent
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
Labels: meta:source code

replace wildcard with generics in builder adapter method
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@c9e22cd8ecdcf14d2f658a565480319ba6fcaab5 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACBuilder.html
Labels: none

Add annotation for documenting a property's type, category and fallback behaviour
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyInformation.java
Labels: meta:source code

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"
