Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

add exception messages
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Rename EMBED_CONFIG_IMPL to EMBED_CONFIG_INTERNAL
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
Labels: meta:source code

Use local javadocs to build wiki
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Remove reference to jdac javadoc pages in gradle task
  jda-commands/build.gradle.kts
Labels: none

Add missing file to sed
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Upgrade mkdocs plugin
  wiki/requirements.txt
Labels: meta:wiki

Check for errors
  .github/workflows/wiki_ci.yml
  wiki/mkdocs.yml
Labels: meta:wiki, meta:ci

Fix
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Try fix
  .github/workflows/wiki_ci.yml
Labels: meta:ci

use file
  .github/workflows/wiki_ci.yml
Labels: meta:ci

create log file in root dir
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Only replace url in javadoc sites
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Use grep directly in if
  wiki/test.sh
Labels: meta:wiki

...
  .github/workflows/wiki_ci.yml
  wiki/test.sh
Labels: meta:wiki, meta:ci

Test
  wiki/docs/di.md
Labels: meta:wiki

Add check to cd.yml
  .github/workflows/cd.yml
  wiki/docs/di.md
Labels: meta:wiki, meta:ci

Allow hotfix branches
  .github/workflows/cd.yml
  .github/workflows/check-if-release/action.yml
  .github/workflows/check-if-release/java/CheckRelease.java
Labels: meta:ci

Check if release commit, if in hotfix/tail branch
  .github/workflows/cd.yml
Labels: meta:ci

Change something
  wiki/docs/di.md
Labels: meta:wiki

fix
  .github/workflows/cd.yml
Labels: meta:ci

fix
  .github/workflows/cd.yml
Labels: meta:ci

fix
  .github/workflows/cd.yml
Labels: meta:ci

fix
  .github/workflows/cd.yml
Labels: meta:ci

fix jreleaser active
  .github/workflows/cd.yml
  build.gradle.kts
Labels: meta:ci

Release 4.1.0 : Test
  build.gradle.kts
Labels: none

Release 4.0.2 : Test
  build.gradle.kts
Labels: none

Change back
  build.gradle.kts
  wiki/docs/di.md
Labels: meta:wiki

Merge back changes to ci/upgrades (#283)
  .github/workflows/cd.yml
  build.gradle.kts
Labels: meta:ci

Ci/upgrades (#284)
  .github/workflows/cd.yml
  .github/workflows/check-if-release/action.yml
  .github/workflows/check-if-release/java/CheckRelease.java
  .github/workflows/wiki_ci.yml
  build.gradle.kts
  jda-commands/build.gradle.kts
  wiki/docs/di.md
  wiki/mkdocs.yml
  wiki/requirements.txt
Labels: meta:wiki, meta:ci

Fix wiki workflow
  .github/workflows/cd.yml
Labels: meta:ci

Bump version to 5.0.0-SNAPSHOT
  build.gradle.kts
Labels: none

reimplement SendableReply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/SendableReply.java
Labels: meta:source code

implement cv2 reply methods and move message based replies to own class
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/CV2Reply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

make ConfigurableReply inherit from MessageReply
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

more javadocs
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
Labels: meta:source code

first proof of concept for components v2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/CV2Reply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
Labels: meta:source code

split ReplyAction into MessageReplyAction and ComponentReplyAction
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/MessageReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

add javadocs for cv2 methods
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
Labels: meta:source code

fix SendableReply overriding the ReplyAction
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/SendableReply.java
Labels: meta:source code

ignore keepComponents behaviour for cv2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ComponentReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code
