Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

improve error message for duplicate components v2 (#338)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ReplyException.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/internal/JDACException.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@2663caa609726e190f1b1f4df093b9af08e0b7e6 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/ReplyException.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/internal/JDACException.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/exceptions/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/serialized-form.html
  javadocs/snapshot/type-search-index.js
Labels: none

fix references
  wiki/docs/migration.md
Labels: meta:wiki

fix references
  wiki/docs/migration.md
Labels: meta:wiki

address review
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACPropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/JDACEvent.java
Labels: meta:source code

check list type for string select menu
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

fix javadocs
  core/src/main/java/io/github/kaktushose/jdac/property/events/JDACEvent.java
Labels: meta:source code

Check list type for string select menus (#339)
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

add ActionRow method to Component class
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  wiki/docs/interactions/reply.md
Labels: meta:wiki, meta:source code

Add ActionRow method to Component class (#340)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  wiki/docs/interactions/reply.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@b76d7fccabeeeb4518785a25ec86e34879d56aae 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/Component.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/SelectMenuComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.html
  javadocs/snapshot/member-search-index.js
Labels: none

make PaginationImpl mutable
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
Labels: meta:source code

fix check in page jump
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
Labels: meta:source code

Bump propane to 0.1
  gradle/libs.versions.toml
Labels: none

fix select options order
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.java
Labels: meta:source code

fix unit tests
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

Fix select options order (#341)
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@850380bb8360e85e83991bfa2562f6b22ea5b7a2 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.html
  javadocs/snapshot/member-search-index.js
Labels: none

merge main
  core/build.gradle.kts
  gradle/libs.versions.toml
Labels: none

Add Formatter (#323)
  .editorconfig
  .gitattributes
  .github/dependabot.yml
  .gitignore
  build.gradle.kts
  core/build.gradle.kts
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
  core/src/main/java/module-info.java
  gradle/libs.versions.toml
  guice-extension/build.gradle.kts
  jda-commands/build.gradle.kts
  processor/build.gradle.kts
  settings.gradle.kts
  testing/build.gradle.kts
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@454c55a58c73cf85a904fc11410da663adbcf3c0 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.html
  javadocs/snapshot/member-search-index.js
Labels: none

fix Registry
  core/src/main/java/io/github/kaktushose/jdac/property/internal/Registry.java
Labels: meta:source code

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

add pr templates
  .github/PULL_REQUEST_TEMPLATE/feature_template.md
  .github/PULL_REQUEST_TEMPLATE/fix_template.md
Labels: none

update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: none

Deploying to gh-pages from @ Kaktushose/jda-commands@22957c53723d7892db7a6d30237cf6d646a5b18e 🚀
  javadocs/snapshot/index.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/AutoCompleteDefinition.AutoCompleteRule.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/property/JDACIntrospection.html
Labels: none

update labels
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
Labels: none
