Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

Add wiki and minor javadoc adjustments
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  wiki/docs/misc/introspection.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

Update mkdocs plugin
  wiki/requirements.txt
Labels: meta:wiki

migrate error messages to cv2
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/resources/jdac_default_en.ftl
Labels: meta:source code

remove embed error source and adjust javadocs
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/EmbedConfig.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
  core/src/main/resources/jdac_default_en.ftl
Labels: meta:source code

rename: getCommandExecutionFailedMessage -> getInteractionExecutionFailedMessage
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  core/src/main/resources/jdac_default_en.ftl
Labels: meta:source code

introduce new error logic
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

add missing thread interrupt
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
Labels: meta:source code

remove thread interrupts :(
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
Labels: meta:source code

update wiki
  core/src/examples/embeds.json
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/resources/jdac_default_en.ftl
  wiki/docs/assets/adapter.png
  wiki/docs/assets/exception.png
  wiki/docs/assets/expiration.png
  wiki/docs/assets/permissions.png
  wiki/docs/assets/validator.png
  wiki/docs/misc/error-handling.md
Labels: meta:wiki, meta:source code

fix cancellation not stopping middleware execution
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
Labels: meta:source code

remove wrongly committed classes
  core/src/main/java/io/github/kaktushose/jdac/components/ComponentDataSource.java
  core/src/main/java/io/github/kaktushose/jdac/components/ComponentDto.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@17a2cfbe24c9bab47e8e0d963ffa5867027df1b5 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/element-list
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/components/ComponentDataSource.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/components/ComponentDto.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/components/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/components/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-summary.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/package-search-index.js
  javadocs/snapshot/type-search-index.js
Labels: none

introduce common interface for all resolvers and move to own package
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/FrameworkContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/EmbedDataSource.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
  core/src/main/java/io/github/kaktushose/jdac/message/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
  core/src/main/java/module-info.java
  core/src/test/java/embeds/EmbedTest.java
Labels: meta:source code

remove vararg message resolve method
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
Labels: meta:source code

add javadocs
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
Labels: meta:source code

fix module-info.java
  core/src/main/java/module-info.java
Labels: meta:source code

update wiki
  wiki/docs/misc/introspection.md
Labels: meta:wiki

fix cancellation not stopping middleware execution (#295)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
Labels: meta:source code

Unify Resolvers and make them public api (#296)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/FrameworkContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/Embed.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/EmbedDataSource.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
  core/src/main/java/io/github/kaktushose/jdac/message/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/EmbedResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/ComponentResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
  core/src/main/java/module-info.java
  core/src/test/java/embeds/EmbedTest.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@38c99b95776c6be3e8c41e6f42a90cb217a51f67 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/element-list
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACommands.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Category.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/FrameworkContext.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/context/InvocationContext.Utility.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/Event.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/validation/Validator.Context.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/Embed.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/EmbedDataSource.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/internal/Embeds.Configuration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/internal/Embeds.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/emoji/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/placeholder/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/ComponentResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/MessageResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/Resolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/internal/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/resolver/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/module-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.guice/module-summary.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/package-search-index.js
  javadocs/snapshot/type-search-index.js
Labels: none

formatting
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyInformation.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalProperties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
Labels: meta:source code

add support for updating guild commands only for specific guilds
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/SlashCommandUpdater.java
Labels: meta:source code

fix imports
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
Labels: meta:source code

rename SlashCommandUpdater -> CommandUpdater
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

address review
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
Labels: meta:source code

Address review
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/TypeAdapter.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ComponentHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntroAccess.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/lifecycle/Subscriber.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
Labels: meta:source code

Fix event handlers
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

Resolve conflicts
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Introspection.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/internal/IntrospectionAccess.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/PerInteractionModule.java
Labels: meta:source code

Add support for updating guild commands only for specific guilds (#298)
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@79e0ecc72b16b4e6b35a93f09b4661710f983fce 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACommands.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/register/CommandUpdater.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/register/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/register/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

Fix wiki
  wiki/docs/misc/introspection.md
  wiki/mkdocs.yml
Labels: meta:wiki

Fix wiki again
  wiki/docs/misc/introspection.md
Labels: meta:wiki

address review
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  wiki/docs/misc/error-handling.md
Labels: meta:wiki, meta:source code

use MessageTopLevelComponent in ErrorMessageFactory
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/PermissionsMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

escape asterisk
  core/src/main/resources/jdac_default_en.ftl
Labels: meta:source code

add missing cv2 flag
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/resources/jdac_default_en.ftl
Labels: meta:source code

Update Error Messages to Components V2 (#294)
  core/src/examples/embeds.json
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/PermissionsMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/Validator.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/EmbedConfig.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/resources/jdac_default_en.ftl
  wiki/docs/assets/adapter.png
  wiki/docs/assets/exception.png
  wiki/docs/assets/expiration.png
  wiki/docs/assets/permissions.png
  wiki/docs/assets/validator.png
  wiki/docs/misc/error-handling.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@55459d9fa1f31770058822df68d459e1219f9fd3 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/validation/Validator.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/EmbedConfig.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/error/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/internal/Embeds.Configuration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/Helpers.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

fix Component#enabled not working with cv2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.java
Labels: meta:source code

fix Component#enabled not working with cv2 (#299)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.java
Labels: meta:source code

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"
