Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

migrate to jackson 3
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/DataObjectResolver.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/internal/JsonResolver.java
Labels: meta:source code

rename `Priority#PERMISSIONS` to `Priority#HIGHEST`
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/Priority.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
Labels: meta:source code

use `complete()` where applicable
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

Rename `Priority#PERMISSIONS` to `Priority#HIGHEST` (#324)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/Priority.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@6a1310b5a7430bb58ca0824e87c8dcde538b0c34 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/middleware/Priority.html
  javadocs/snapshot/member-search-index.js
Labels: none

use `complete()` where applicable (#325)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

add default FLuava function for IMentionable
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  wiki/docs/message/localization.md
  wiki/docs/message/placeholder.md
Labels: meta:wiki, meta:source code

update dependabot.yml
  .github/dependabot.yml
Labels: none

fix wiki
  wiki/docs/message/localization.md
  wiki/docs/message/placeholder.md
Labels: meta:wiki

add missing resolve method to Event
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@6cd1cf0ef829dc19583c705f8efeb57945ffe522 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/Event.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/AutoCompleteEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.html
  javadocs/snapshot/member-search-index.js
Labels: none

Add builder and fix parent function is always overridden
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
Labels: meta:source code

Fix tests
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/embeds/EmbedTest.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

Only log debug if no command was found for i18n key (LocalizationFunction)
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

bump Fluava to 1.2.3 and fix logging messages
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/resources/jdac_internal_en.ftl
  gradle/libs.versions.toml
Labels: meta:source code

Add default Fluava function for IMentionable (#326)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/embeds/EmbedTest.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  wiki/docs/message/localization.md
  wiki/docs/message/placeholder.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@f27a4272896a9f962bcd8b5b39ab2057fa07d1ff 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.Builder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

Prevent fluava from spamming debug logs
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  gradle/libs.versions.toml
Labels: meta:source code

Log info that there are missing i18n JDA messages
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

address review
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
Labels: meta:source code

Prevent fluava from spamming debug logs (#328)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  gradle/libs.versions.toml
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@b4c8007c1a0454f5caff504cbb7cba11f2914d19 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.Builder.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/FluavaLocalizer.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.html
  javadocs/snapshot/member-search-index.js
Labels: none

add new framework start message
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

first pass on dynamic choices
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Choices.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Invoker.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
Labels: meta:source code

add exception if provider isn't found
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
Labels: meta:source code

fix InvalidDeclarationException not printing causing method
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
Labels: meta:source code

use compact constructor for descriptions
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ParameterDescription.java
Labels: meta:source code

add modifiers to MethodDescription
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/ReflectiveDescriptor.java
Labels: meta:source code

allow foreign classes and don't rely on exceptions
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Choices.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/ReflectiveDescriptor.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
Labels: meta:source code

add unit tests
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
Labels: meta:source code

move parameter check to Helpers
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

add support for dependency injection
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
Labels: meta:source code

rename InteractionControllerInstantiator to Instantiator
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/FrameworkContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/Instantiator.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInstantiator.java
  jda-commands/src/main/javadoc/overview.md
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  wiki/docs/di.md
Labels: meta:wiki, meta:source code

add exceptions
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InternalException.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

add wiki
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Choices.java
  wiki/docs/interactions/commands.md
Labels: meta:wiki, meta:source code

fix unit tests
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/AutoCompleteDefinitionTest.java
  core/src/test/java/definitions/interactions/SlashCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
  core/src/test/java/definitions/interactions/options/ValidatorTest.java
Labels: meta:source code

fix codacy
  core/src/test/java/definitions/interactions/AutoCompleteDefinitionTest.java
Labels: meta:source code

use less aggressive editorconfig
  .editorconfig
Labels: none

Update GuiceInstantiator to reflect new use case
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/ConfigurationScopeModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/InitializedScopeModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/RuntimeScopeModule.java
  wiki/docs/interactions/commands.md
Labels: meta:wiki, meta:source code

first pass on container component api
  core/src/main/java/io/github/kaktushose/jdac/components/container/BaseContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/TextDisplayContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/package-info.java
  core/src/main/java/module-info.java
Labels: meta:source code
