Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

fix InvalidDeclarationException not printing causing method (#331)
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@f2fa30f711f74a739f1bb8c70784a93fd86c1322 🚀
  javadocs/snapshot/serialized-form.html
Labels: none

address review
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Choices.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  wiki/docs/interactions/commands.md
Labels: meta:wiki, meta:source code

fix conflict
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
Labels: meta:source code

Add support for dynamic choices (#330)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Choices.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Invoker.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ParameterDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/ReflectiveDescriptor.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/FrameworkContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/Instantiator.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/InteractionControllerInstantiator.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InternalException.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Stage.java
  core/src/main/resources/jdac_internal_en.ftl
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/AutoCompleteDefinitionTest.java
  core/src/test/java/definitions/interactions/SlashCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
  core/src/test/java/definitions/interactions/options/ValidatorTest.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceInteractionControllerInstantiator.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/RuntimeBoundScope.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/ConfigurationScopeModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/InitializedScopeModule.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/guice/modules/RuntimeScopeModule.java
  jda-commands/src/main/javadoc/overview.md
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  wiki/docs/di.md
  wiki/docs/interactions/commands.md
Labels: meta:wiki, meta:source code

add support for localization
  core/src/main/java/io/github/kaktushose/jdac/components/container/BaseContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/TextDisplayContainer.java
Labels: meta:source code

implement addAll method
  core/src/main/java/io/github/kaktushose/jdac/components/container/BaseContainer.java
Labels: meta:source code

rename BaseContainer -> SequencedContainer
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SequencedContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/TextDisplayContainer.java
Labels: meta:source code

add javadocs
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SequencedContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/TextDisplayContainer.java
Labels: meta:source code

split TextDisplay into SequencedTextDisplay and TextDisplayContainer and add common interfaces
  core/src/main/java/io/github/kaktushose/jdac/components/SequencedTextDisplay.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SequencedContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/TextDisplayContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/components/internal/LocalizedComponent.java
  core/src/main/java/io/github/kaktushose/jdac/components/internal/SequencedComponent.java
  core/src/main/java/module-info.java
Labels: meta:source code

directly support SequencedTextDisplay in SequencedContainer
  core/src/main/java/io/github/kaktushose/jdac/components/SequencedTextDisplay.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatorContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SequencedContainer.java
Labels: meta:source code

rename SeparatorContainer -> SeparatedContainer
  core/src/main/java/io/github/kaktushose/jdac/components/container/SeparatedContainer.java
  core/src/main/java/io/github/kaktushose/jdac/components/container/SequencedContainer.java
Labels: meta:source code

first pass on pagination
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/Pagination.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/PaginationLayout.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/BodyImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/ControlImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/ControlRowImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PageInfoImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/StaticImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Body.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Control.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/ControlRow.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/PageInfo.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Static.java
  core/src/main/java/module-info.java
Labels: meta:source code

merge PageInfo and Body into generic layout component
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/BodyImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/DynamicImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PageInfoImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Body.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Dynamic.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/PageInfo.java
Labels: meta:source code

make Pagination sendable
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/Pagination.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/PaginationLayout.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/ControlImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/DynamicImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Control.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/ControlRow.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Dynamic.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Static.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Threshold.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

simplify control
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/ControlImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Control.java
Labels: meta:source code

bump to JDA 6.4.0
  README.md
  gradle/libs.versions.toml
Labels: none

Deploying to gh-pages from @ Kaktushose/jda-commands@a60a8018cc279079c3eb14913b11902eb961589e 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/JDAEventListener.html
Labels: none

make maxPages optional
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/Pagination.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
Labels: meta:source code

add direction and amount to controls
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/ControlImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Control.java
Labels: meta:source code

add page object for dynamic functions
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/Page.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/DynamicImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Dynamic.java
Labels: meta:source code

first pass on pagination logic
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/Pagination.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/internal/PaginationImpl.java
  core/src/main/java/io/github/kaktushose/jdac/components/pagination/layout/Control.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
Labels: meta:source code

documentation fixes
  README.md
  wiki/docs/message/localization.md
Labels: meta:wiki

update readme
  README.md
Labels: none

improve naming of workflows
  .github/workflows/build_ci.yml
  .github/workflows/deploy-pages/action.yml
  .github/workflows/javadoc_ci.yml
  .github/workflows/pr.yml
  .github/workflows/wiki_ci.yml
Labels: meta:ci

add migration guide
  wiki/docs/migration.md
  wiki/mkdocs.yml
Labels: meta:wiki

Update markdown_javadoc_references
  wiki/requirements.txt
Labels: meta:wiki

Reenable guice @implementation support
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/Instantiator.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACScope.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ListCreatorProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/Property.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/PropertyProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
Labels: meta:source code

fix fallback behavior of class finder property
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
Labels: meta:source code

Fix more javadocs
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/Instantiator.java
  core/src/main/java/io/github/kaktushose/jdac/message/resolver/MessageResolver.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/JDACEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/extension/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/property/extension/ExtensionException.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/Implementation.java
Labels: meta:source code

Implement events
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACInternalProperties.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/Registry.java
  core/src/test/java/reply/ComponentsV1Test.java
Labels: meta:source code

fix imports
  core/src/main/java/io/github/kaktushose/jdac/property/Enumeration.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACPropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACScope.java
  core/src/main/java/io/github/kaktushose/jdac/property/Mapping.java
  core/src/main/java/io/github/kaktushose/jdac/property/PropertyInformation.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACCollectionProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACIntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACMappingProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACSingletonProperty.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

Add javadocs about scoped access
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
Labels: meta:source code

Fix imports
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACPropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/JDACEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACEnumerationProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACIntrospectionImpl.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACMappingProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACSingletonProperty.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

Refactor javadocs
  core/src/main/java/io/github/kaktushose/jdac/annotations/IntrospectionAccess.java
  core/src/main/java/io/github/kaktushose/jdac/property/Enumeration.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACPropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/property/JDACScope.java
  core/src/main/java/io/github/kaktushose/jdac/property/Mapping.java
  core/src/main/java/io/github/kaktushose/jdac/property/PropertyInformation.java
  core/src/main/java/io/github/kaktushose/jdac/property/Singleton.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/FrameworkShutdownEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/FrameworkStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/InteractionFinishedEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/InteractionStartEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/JDACEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/RuntimeCloseEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/events/RuntimeOpenEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/extension/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACEnumerationProperty.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/JDACEvent.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/Registry.java
  jda-commands/build.gradle.kts
Labels: meta:source code

Reenable priority check for extensions
  core/src/main/java/io/github/kaktushose/jdac/property/JDACPropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/property/internal/extension/Extensions.java
Labels: meta:source code

Start work on wiki
  core/src/main/java/io/github/kaktushose/jdac/property/JDACProperty.java
  wiki/docs/di.md
  wiki/docs/interactions/commands.md
  wiki/docs/message/overview.md
  wiki/docs/misc/extension/writing.md
  wiki/docs/misc/property.md
Labels: meta:wiki, meta:source code

Fix wiki
  core/src/main/java/io/github/kaktushose/jdac/property/JDACIntrospection.java
  wiki/docs/middlewares/overview.md
  wiki/docs/misc/extension/writing.md
  wiki/docs/misc/introspection.md
  wiki/docs/misc/property.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

improve error message for duplicate components v2
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ReplyException.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/internal/JDACException.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

fix references
  wiki/docs/migration.md
Labels: meta:wiki
