Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

bump version
  README.md
  build.gradle.kts
  wiki/docs/index.md
  wiki/docs/start/installation.md
Labels: meta:wiki

Release 4.0.0-beta.9 : Improved Message API
  README.md
  build.gradle.kts
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/Implementation.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/Helpers.java
  wiki/docs/index.md
  wiki/docs/start/installation.md
Labels: meta:wiki, meta:source code

add own exception if validator doesn't support type
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
  core/src/main/resources/jdac_en.ftl
Labels: meta:source code

move handling of Min and Max to new result type
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
  core/src/test/java/definitions/interactions/options/ValidatorTest.java
Labels: meta:source code

bump to Java 25 and Gradle 9.1.0
  buildSrc/build.gradle.kts
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

Improve constraint error messages (#258)
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
  core/src/main/resources/jdac_en.ftl
  core/src/test/java/definitions/interactions/options/ValidatorTest.java
Labels: meta:source code

add missing Integer to String path
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
Labels: meta:source code

Fix integers being formatted as floating point (#260)
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
Labels: meta:source code

add handling of JDAs IllegalArgumentExceptions
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/ModalDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/Helpers.java
  core/src/main/resources/jdac_en.ftl
Labels: meta:source code

dry build components and modals
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/ModalDefinition.java
  core/src/main/resources/jdac_en.ftl
Labels: meta:source code

fix unit tests
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

address review
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
Labels: meta:source code

Improve handling of JDA exceptions during startup (#261)
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/ModalDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/Helpers.java
  core/src/main/resources/jdac_en.ftl
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@44107d32b4ffd3ccf31bbf2fbcc0392ce17b92fc 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/internal/Helpers.html
  javadocs/snapshot/member-search-index.js
Labels: none

Update flake to temurin 25
  flake.lock
  flake.nix
Labels: none

Bump to Java 25 and Gradle 9.1.0 (#259)
  buildSrc/build.gradle.kts
  flake.lock
  flake.nix
  gradle.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: none

First pass on localizable error messages
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  core/src/main/resources/jdac_en.ftl
  core/src/main/resources/jdac_error_default_en.ftl
Labels: meta:source code

Restructure localization files
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  core/src/main/resources/jdac_default_en.ftl
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

add own exception type for json parsing and improve logging
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/Embed.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/ParsingException.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/resources/jdac_en.ftl
Labels: meta:source code

Add own exception type for embed json parsing and improve logging (#265)
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/Embed.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/ParsingException.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/resources/jdac_en.ftl
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@619c15d80ca21d70fab36de8e5cf0fe952a986db 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/ParsingException.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/serialized-form.html
  javadocs/snapshot/type-search-index.js
Labels: none

First pass on localizable error messages
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  core/src/main/resources/jdac_en.ftl
  core/src/main/resources/jdac_error_default_en.ftl
Labels: meta:source code

Restructure localization files
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  core/src/main/resources/jdac_default_en.ftl
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Allow configuration of default "no description" in optiondata/slashcommands definition
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/MethodBuildContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/resources/jdac_default_en.ftl
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
Labels: meta:source code

Add wiki
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  wiki/docs/interactions/commands.md
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Remove wrongly 'User.class' on Perm.java and fix javadocs
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/NotPerm.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/Perm.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
Labels: meta:source code

Update required java version in wiki to 25
  wiki/docs/start/installation.md
Labels: meta:wiki

Deploying to gh-pages from @ Kaktushose/jda-commands@7d0b477d1a206aaf461a03384bee4665dfe8e4fc 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/annotations/constraints/NotPerm.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/annotations/constraints/Perm.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/annotations/constraints/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.html
Labels: none

Address review
  wiki/docs/message/localization.md
Labels: meta:wiki

localizable error messages (#263)
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/MethodBuildContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/I18n.java
  core/src/main/resources/jdac_default_en.ftl
  core/src/main/resources/jdac_internal_en.ftl
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/options/OptionDataTest.java
  wiki/docs/interactions/commands.md
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@acb01448e31745658020b1b4a74f0b59c34e6b9d 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/definitions/interactions/MethodBuildContext.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/message/i18n/I18n.html
  javadocs/snapshot/member-search-index.js
Labels: none

Replace thread locals with scoped values
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/features/internal/Invokable.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/InvalidDeclarationException.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

add special handling for unknown interaction error
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
Labels: meta:source code

remove obsolete comments
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
Labels: meta:source code

Replace thread locals with scoped values (#267)
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/features/internal/Invokable.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/InvalidDeclarationException.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

add special handling for unknown interaction error (#269)
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@7ec20c16952d0f913d82d0c1bf7147234d695637 🚀
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/exceptions/InvalidDeclarationException.html
Labels: none

First pass on simplifying internal data flow with scopedvalues
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/features/internal/Invokable.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/HolyGrail.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/JDAEventListener.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/CommandEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/middleware/internal/Middlewares.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/Validator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
Labels: meta:source code

Remove redundant code in JDACommands
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/DispatchingContext.java
Labels: meta:source code

undo false javadoc renaming
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/middleware/internal/Middlewares.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/Validator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
Labels: meta:source code
