Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

Fix EntitySelectMenus being broken (#276)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
Labels: meta:source code

first pass on unit tests for component reply api
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ComponentInvocation.java
Labels: meta:source code

Add proper exceptions
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionException.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionFilter.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/ConfigurationException.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/internal/JDACException.java
  core/src/main/resources/jdac_internal_en.ftl
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceException.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
  guice-extension/src/main/java/module-info.java
  guice-extension/src/main/resources/jdac_guice_en.ftl
Labels: meta:source code

Add missing default value
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
Labels: meta:source code

Add cycling dependencies error message
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Stack.java
  core/src/main/resources/jdac_internal_en.ftl
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/internal/GuiceExtension.java
Labels: meta:source code

correctly unwrap InvocationTargetException
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/internal/Invokable.java
Labels: meta:source code

address review
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/internal/Invokable.java
Labels: meta:source code

Correctly unwrap InvocationTargetExceptions (#277)
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/internal/Invokable.java
Labels: meta:source code

Fix some wiki mistakes
  wiki/docs/message/localization.md
  wiki/docs/misc/reflection.md
Labels: meta:wiki

add test for keepComponents and keepSelections
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/components/EntitySelectInvocation.java
Labels: meta:source code

First pass on docs + simplify api in JDACommands
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

Cleanup code
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Executor.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

First pass on property javadocs
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
Labels: meta:source code

Fix typo
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
Labels: meta:source code

Expose extensionfilter and embed_config properties
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionFilter.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
Labels: meta:source code

Allow dynamic configuration of builder
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
Labels: meta:source code

Add missing lists of property categories
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

More docs and renaming
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
Labels: meta:source code

Restructure source of Property
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

typo
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Finish Property javadocs
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/AdapterType.java
Labels: meta:source code

Fix
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
Labels: meta:source code

Finalize javadocs
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Extension.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionException.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/ExtensionFilter.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/PropertyProvider.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Executor.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/ExtensionLoader.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/InternalPropertyProviders.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Properties.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/AdapterType.java
  core/src/main/java/io/github/kaktushose/jdac/exceptions/internal/JDACException.java
Labels: meta:source code

Make codacy happy
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Fix wrong locale in fluava wiki example
  wiki/docs/message/localization.md
Labels: meta:wiki

fix ClassFinderTest
  core/src/test/java/definitions/description/ClassFinderTest.java
Labels: meta:source code

fix integers being formatted as doubles
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
Labels: meta:source code

Add unit tests for components (#278)
  core/src/test/java/definitions/description/ClassFinderTest.java
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/components/EntitySelectInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ComponentInvocation.java
Labels: meta:source code

Fix integers being formatted as doubles (#279)
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
Labels: meta:source code

fix code examples in various places
  README.md
  core/src/examples/BanCommand.java
  core/src/examples/CookieClicker.java
  core/src/examples/Main.java
  core/src/examples/scope/PremiumCommand.java
  core/src/examples/scope/PremiumGuildsProvider.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/AutoComplete.java
  wiki/docs/index.md
  wiki/docs/interactions/commands.md
  wiki/docs/interactions/overview.md
  wiki/docs/interactions/reply.md
Labels: meta:wiki, meta:source code

use String#formatted
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/AutoComplete.java
  wiki/docs/interactions/commands.md
Labels: meta:wiki, meta:source code

Fix code examples in various places (#280)
  README.md
  core/src/examples/BanCommand.java
  core/src/examples/CookieClicker.java
  core/src/examples/Main.java
  core/src/examples/scope/PremiumCommand.java
  core/src/examples/scope/PremiumGuildsProvider.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/AutoComplete.java
  wiki/docs/index.md
  wiki/docs/interactions/commands.md
  wiki/docs/interactions/overview.md
  wiki/docs/interactions/reply.md
Labels: meta:wiki, meta:source code

Release 4.0.1 : Hotfix EntitySelectMenus
  README.md
  build.gradle.kts
  wiki/docs/index.md
  wiki/docs/start/installation.md
Labels: meta:wiki

Deploying to gh-pages from @ Kaktushose/jda-commands@9dd582f2d6e69af253af92e41673d359c7358ef3 🚀
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/AutoComplete.html
Labels: none

Release 4.0.1 : Hotfix EntitySelectMenus
  build.gradle.kts
Labels: none

fix release draft template
  .github/workflows/cd.yml
Labels: meta:ci

bump to JDA 6
  README.md
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Button.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/EntitySelectMenu.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/TextInput.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/SelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/Component.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/SelectMenuComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/resources/jdac_internal_en.ftl
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
  core/src/test/java/reply/ComponentsV1Test.java
  gradle/libs.versions.toml
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/CommandInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ComponentInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ModalReplyableInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ReplyableInvocation.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/reply/MessageEventReply.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/reply/ModalEventReply.java
Labels: meta:source code

use ICustomIdInteraction in JDAEventListener
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/invocation/internal/ComponentInvocation.java
Labels: meta:source code

Enable automatic tail branch creation upon release
  .github/workflows/git_on_release.yml
Labels: meta:ci

Tail branch should start at latest release
  .github/workflows/create_tail.yml
Labels: meta:ci
