Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@ad0dcaa8c5fc8520e1e578b683b9d924bf178a79 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/Component.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/ButtonComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/UnspecificComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/internal/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/SelectMenuComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/StringSelectComponent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/menu/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/dynamic/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/reply/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
Labels: none

Make EmbedDataSource loadable
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
Labels: meta:source code

Mention in wiki
  wiki/docs/message/embeds.md
Labels: meta:wiki

Force asm to 9.9
  guice-extension/build.gradle.kts
Labels: none

Add counter to customid
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/JDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/CustomId.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/TreeNode.java
  core/src/test/java/definitions/interactions/ContextCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/SlashCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/reply/MessageEventReply.java
Labels: meta:source code

Only use counter were needed
  core/src/main/java/io/github/kaktushose/jdac/definitions/Definition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/CustomIdJDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/JDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/NonCustomIdJDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ComponentDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/TreeNode.java
  core/src/test/java/definitions/interactions/ContextCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/SlashCommandDefinitionTest.java
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
Labels: meta:source code

Refactor counter in testing
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/JDAEntity.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/interactions/component/ButtonDefinitionTest.java
  core/src/test/java/definitions/interactions/component/EntitySelectMenuDefinitionTest.java
  core/src/test/java/definitions/interactions/component/StringSelectMenuDefinitionTest.java
  core/src/test/java/reply/ComponentsV1Test.java
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
Labels: meta:source code

Add counter to methods in ReplyableEvent
  core/src/main/java/io/github/kaktushose/jdac/definitions/features/CustomIdJDAEntity.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

Add javadocs
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/CustomId.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
Labels: meta:source code

Mention this in wiki
  wiki/docs/interactions/reply.md
Labels: meta:wiki

Add fallback logger implementation
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/CustomFormatter.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/FallbackLogger.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/JDACLogger.java
  core/src/main/java/module-info.java
Labels: meta:source code

Replace logger
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Extensions.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/PermissionsMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/FallbackLogger.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/TreeNode.java
  core/src/main/java/io/github/kaktushose/jdac/permissions/DefaultPermissionsProvider.java
Labels: meta:source code

Add wiki
  wiki/docs/misc/logging.md
  wiki/mkdocs.yml
Labels: meta:wiki

Only match line starts in wiki ci
  .github/workflows/wiki_ci.yml
Labels: meta:ci

test wiki check still working
  wiki/docs/misc/introspection.md
Labels: meta:wiki

Fix error print
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Use right quotes
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Use line start for both
  .github/workflows/wiki_ci.yml
Labels: meta:ci

remove debug error
  wiki/docs/misc/introspection.md
Labels: meta:wiki

Add ci to check if javadocs has errors
  .github/workflows/javadoc_ci.yml
Labels: meta:ci

Fix path
  .github/workflows/javadoc_ci.yml
Labels: meta:ci

Update error check in cd.yml
  .github/workflows/cd.yml
Labels: meta:ci

Add check to cd.yml
  .github/workflows/cd.yml
Labels: meta:ci

Fix javadocs
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/MenuOption.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/TextInput.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
Labels: meta:source code

Add method/findMethod and annotation methods
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Description.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/AutoCompleteDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/internal/Validators.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/description/ClassDescriptionTest.java
Labels: meta:source code

Add findParameter/parameter method and update javadocs
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Description.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Invoker.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
Labels: meta:source code

Add other useful information
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Description.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
Labels: meta:source code

Add ci to check if javadocs has errors (#305)
  .github/workflows/cd.yml
  .github/workflows/javadoc_ci.yml
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/MenuOption.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/TextInput.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/EditableConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
Labels: meta:source code, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@0328db02275a1f8c2229547e793cfcce26a359fe 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/JDACommands.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/MenuOption.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/ReplyConfig.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/TextInput.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/annotations/interactions/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/Event.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/handling/EventHandler.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/register/CommandUpdater.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/introspection/Definitions.html
Labels: none

Support Extension loadable EmbedDataSource (#302)
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/internal/Embeds.java
  wiki/docs/message/embeds.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@602681a3963ae63f5ce4899a20acbf49e45ebf7d 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Enumeration.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Map.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.Singleton.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/configuration/Property.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/embeds/internal/Embeds.Configuration.html
  javadocs/snapshot/member-search-index.js
Labels: none

use new descriptor methods inside framework
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Description.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Invoker.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/internal/Validators.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/description/ClassDescriptionTest.java
Labels: meta:source code

Advance the Descriptor API (#306)
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/ClassDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Description.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/Invoker.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/MethodDescription.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/AutoCompleteDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/validation/internal/Validators.java
  core/src/main/java/io/github/kaktushose/jdac/internal/Helpers.java
  core/src/main/java/io/github/kaktushose/jdac/introspection/Definitions.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/test/java/definitions/TestHelpers.java
  core/src/test/java/definitions/description/ClassDescriptionTest.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@9b84e930216b7904d3de595586fcaa1815282d12 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/AnnotationDescription.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/ClassDescription.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/Description.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/Invoker.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/MethodDescription.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/PackageDescription.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/description/ParameterDescription.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/introspection/Definitions.html
  javadocs/snapshot/member-search-index.js
Labels: none

wiki and formatting
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/CustomFormatter.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/FallbackLogger.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/JDACLogger.java
  wiki/docs/misc/logging.md
Labels: meta:wiki, meta:source code

Introduce fallback logger (#304)
  .github/workflows/cd.yml
  .github/workflows/wiki_ci.yml
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Extensions.java
  core/src/main/java/io/github/kaktushose/jdac/configuration/internal/Resolver.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/JDAEventListener.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/PermissionsMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/MessageReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/CustomFormatter.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/FallbackLogger.java
  core/src/main/java/io/github/kaktushose/jdac/internal/logging/JDACLogger.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/CommandUpdater.java
  core/src/main/java/io/github/kaktushose/jdac/internal/register/TreeNode.java
  core/src/main/java/io/github/kaktushose/jdac/permissions/DefaultPermissionsProvider.java
  core/src/main/java/module-info.java
  wiki/docs/misc/logging.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code, meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@dfbc40c6fcf2cce33b9bbd9588e919ecc651c063 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/element-list
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/logging/CustomFormatter.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/logging/JDACLogger.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/logging/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/logging/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/internal/package-summary.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/package-search-index.js
  javadocs/snapshot/type-search-index.js
Labels: none

Add validator for properties
  core/build.gradle.kts
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  core/src/main/java/module-info.java
  processor/build.gradle.kts
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/AnnotationCopy.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/Validated.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
  processor/src/main/java/module-info.java
  processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
  settings.gradle.kts
Labels: meta:source code

Fix properties
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
Labels: meta:source code

Generate lists automatically
  core/src/main/java/io/github/kaktushose/jdac/configuration/Property.java
  processor/build.gradle.kts
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/AbortException.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ListCreatorProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/Property.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/PropertyProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/ValidationProcessor.java
  processor/src/main/java/io/github/kaktushose/jdac/processor/property/api/PropertyProcessed.java
  processor/src/main/java/module-info.java
  processor/src/main/resources/META-INF/services/javax.annotation.processing.Processor
Labels: meta:source code

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"
