Repository Kaktushose/jda-commands, changes with the labels that .github/labeler.yml gives for each.
All labels: meta:wiki, meta:source code, meta:ci

.github/labeler.yml:

"meta:wiki":
  - changed-files:
    - any-glob-to-any-file: "wiki/**"
"meta:source code":
  - changed-files:
      - any-glob-to-any-file: "**/src/**"
"meta:ci":
  - changed-files:
      - any-glob-to-any-file: ".github/workflows/**"
"type:feature":
  - head-branch: "feature"
"type:fix":
  - head-branch: "fix"
"type:other":
  - head-branch: "^(?!feature|fix).*$"

reimplement type adapting failed message
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

Use static imports in reply api
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

Use rich invocation context in Event api
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/CommandEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

Update Handler
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
Labels: meta:source code

Remove redundant reply config in rich invocation context
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
Labels: meta:source code

Add javadocs
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.java
Labels: meta:source code

rename HolyGrail to FrameworkContext
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/FrameworkContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/JDAEventListener.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

small changes
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
Labels: meta:source code

Merge pull request #268
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/features/internal/Invokable.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/FrameworkContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/JDAEventListener.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/CommandEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/Validator.java
Labels: meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@31fc320262257380cb771907800762cf5dabae95 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/allpackages-index.html
  javadocs/snapshot/element-list
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/FrameworkContext.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/JDAEventListener.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/Runtime.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.Data.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.Utility.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/internal/RichInvocationContext.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/internal/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/internal/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/context/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/Event.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/interactions/AutoCompleteEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/interactions/CommandEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/interactions/ComponentEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/events/interactions/ModalEvent.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/EventHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/package-tree.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.html
  javadocs/snapshot/io.github.kaktushose.jda.commands.core/com/github/kaktushose/jda/commands/dispatching/reply/internal/ReplyAction.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/package-search-index.js
  javadocs/snapshot/type-search-index.js
Labels: none

merge main
  core/src/main/java/io/github/kaktushose/jdac/JDACBuilder.java
  core/src/main/java/io/github/kaktushose/jdac/JDACommands.java
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Command.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/description/reflective/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/ModalDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/menu/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/component/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/FrameworkContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/Runtime.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/InvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/Event.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/ReplyableEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/AutoCompleteEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/CommandEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ComponentEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/events/interactions/ModalEvent.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ComponentHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/EventHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/ModalHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/instance/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/Middleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/Priority.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/ConfigurableReply.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/reply/internal/ReplyAction.java
  guice-extension/src/main/java/io/github/kaktushose/jdac/guice/Implementation.java
Labels: meta:source code

rename modules
  core/src/main/java/module-info.java
  guice-extension/src/main/java/module-info.java
  testing/src/main/java/module-info.java
Labels: meta:source code

delete DispatchingContext.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/DispatchingContext.java
Labels: meta:source code

Fix services file still using old package name
  core/src/main/java/io/github/kaktushose/jdac/extension/JDACBuilderData.java
  guice-extension/src/main/resources/META-INF/services/io.github.kaktushose.jdac.extension.Extension
Labels: meta:source code

Localize 'member-required-got-user'
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.java
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Allows localization of 'no-description'
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Address review
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.java
Labels: meta:source code

Merge pull request #271
  core/src/main/java/io/github/kaktushose/jdac/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.java
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/internal/JDACLocalizationFunction.java
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code

Deploying to gh-pages from @ Kaktushose/jda-commands@8a5fe72027c33e4a2f8bd72665623c07697a143f 🚀
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/dispatching/context/internal/RichInvocationContext.html
  javadocs/snapshot/member-search-index.js
Labels: none

Fix scope value not bound in InvalidDeclarationException
  core/src/main/java/io/github/kaktushose/jdac/exceptions/InvalidDeclarationException.java
Labels: meta:source code

remove integrity test
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
Labels: meta:source code

Load jdac default bundle always with Fluava
  core/src/main/java/io/github/kaktushose/jdac/message/i18n/I18n.java
  core/src/main/resources/jdac_internal_en.ftl
Labels: meta:source code

Wrap javadoc autolinks in code blocks in wiki
  wiki/mkdocs.yml
  wiki/requirements.txt
Labels: meta:wiki

Replace snapshot with jdac_javadoc_version placeholder
  wiki/mkdocs.yml
Labels: meta:wiki

update landing page and starting guide
  wiki/docs/index.md
  wiki/docs/start/installation.md
  wiki/docs/start/quick-start.md
  wiki/docs/start/runtime.md
Labels: meta:wiki

Update wiki ci
  .github/workflows/ci.yml
Labels: meta:ci

wiki changes
  wiki/docs/interactions/commands.md
  wiki/docs/interactions/reply.md
  wiki/docs/middlewares/overview.md
Labels: meta:wiki

remove cooldown feature
  core/src/examples/embeds.json
  core/src/main/java/io/github/kaktushose/jdac/annotations/interactions/Cooldown.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/Definition.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/InteractionRegistry.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/MethodBuildContext.java
  core/src/main/java/io/github/kaktushose/jdac/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/CooldownMiddleware.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/impl/package-info.java
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/io/github/kaktushose/jdac/embeds/error/ErrorMessageFactory.java
  wiki/docs/assets/cooldown.png
  wiki/docs/middlewares/cooldown.md
  wiki/docs/middlewares/overview.md
  wiki/docs/misc/error-handling.md
  wiki/mkdocs.yml
Labels: meta:wiki, meta:source code

fix tests
  core/src/test/java/definitions/TestHelpers.java
Labels: meta:source code

readd constraint middleware
  core/src/main/java/io/github/kaktushose/jdac/dispatching/middleware/internal/Middlewares.java
Labels: meta:source code

Separate wiki and build test ci
  .github/workflows/build_ci.yml
  .github/workflows/wiki_ci.yml
Labels: meta:ci

Manually publish gh-pages branch
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Disable check
  .github/workflows/cd.yml
Labels: meta:ci

Disable maven central deploy
  .github/workflows/cd.yml
Labels: meta:ci

Fix
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Remove explicit page-url settings
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Test
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci

Deploying to gh-pages from @ Kaktushose/jda-commands@9fb2178dc4f9425e1189ba25e188663de3c88934 🚀
  javadocs/snapshot/allclasses-index.html
  javadocs/snapshot/index-all.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/Test.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-summary.html
  javadocs/snapshot/io.github.kaktushose.jdac.core/io/github/kaktushose/jdac/package-tree.html
  javadocs/snapshot/member-search-index.js
  javadocs/snapshot/overview-tree.html
  javadocs/snapshot/type-search-index.js
Labels: none

Disable check
  .github/workflows/cd.yml
Labels: meta:ci

Manually publish gh-pages branch
  .github/workflows/cd.yml
  .github/workflows/deploy-pages/action.yml
Labels: meta:ci
