Repository Kaktushose/jda-commands, pull requests merged in 2025-10, with the labels that each got.

#240 Expose MessageResolver via JDACommands and some minor documentation fixes
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/MessageResolver.java
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/Implementation.java
  wiki/docs/extension/writing.md
Labels: meta:wiki, meta:source code, type:feature

#243 Use fluava sub instance internally
  core/src/main/java/com/github/kaktushose/jda/commands/exceptions/internal/JDACException.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/message/i18n/FluavaLocalizer.java
  core/src/test/java/embeds/EmbedTest.java
  gradle/libs.versions.toml
  testing/src/main/java/io/github/kaktushose/jdac/testing/TestScenario.java
  wiki/docs/message/localization.md
Labels: meta:wiki, meta:source code, type:other

#248 fix ErrorMessageFactory not using embeds
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
Labels: meta:source code, type:fix, change:internal

#249 fix error embeds not having access to global placeholders
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/internal/Embeds.java
Labels: meta:source code, type:fix, change:internal

#251 Use Permission enum vor Perm and NotPerm constraint
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/NotPerm.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/Perm.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  wiki/docs/middlewares/validator.md
Labels: meta:wiki, meta:source code, type:feature, change:api
