Repository Kaktushose/jda-commands, pull requests merged in 2025-06, with the labels that each got.

#195 Refactor type adapting
  core/build.gradle.kts
  core/src/examples/embeds.json
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Param.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/TypeAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/AudioChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/BooleanAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/ByteAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/CharacterAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/DoubleAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/FloatAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/GuildChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/GuildMessageChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/IntegerAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/LongAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/MemberAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/NewsChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/RoleAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/ShortAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/StageChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/TextChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/ThreadChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/UserAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/VoiceChannelAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/package-info.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/internal/TypeAdapters.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/ErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/JsonErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/Implementation.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/register/TreeNode.java
  core/src/main/java/module-info.java
  core/src/test/java/adapting/CustomType.java
  core/src/test/java/adapting/CustomTypeAdapter.java
  core/src/test/java/adapting/TypeAdapterRegistryTest.java
  core/src/test/java/adapting/TypeAdapterTest.java
  core/src/test/java/adapting/mock/CacheRestActionMock.java
  core/src/test/java/adapting/mock/GuildMock.java
  core/src/test/java/adapting/mock/JDACommandsMock.java
  core/src/test/java/adapting/mock/JDAMock.java
  core/src/test/java/adapting/mock/MemberMock.java
  core/src/test/java/adapting/mock/RestActionMock.java
  core/src/test/java/adapting/mock/RoleMock.java
  core/src/test/java/adapting/mock/SlashCommandInteractionEventMock.java
  core/src/test/java/adapting/mock/SlashCommandInteractionMock.java
  core/src/test/java/adapting/mock/TextChannelMock.java
  core/src/test/java/adapting/mock/TypeAdapterRegistryTestController.java
  core/src/test/java/adapting/mock/UserMock.java
  core/src/test/java/commands/SlashCommandDefinitionTest.java
  gradle/libs.versions.toml
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/GuiceExtension.java
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/Implementation.java
  guice-extension/src/main/java/module-info.java
Labels: t:enhancement, p:high, s:completed

#194 Add i18n support
  core/build.gradle.kts
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/i18n/Bundle.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/ClassDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/Description.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/MethodDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/PackageDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/reflective/ReflectiveDescriptor.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/ModalDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/DispatchingContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ComponentHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/ModalHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/ContextCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/Component.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/MessageReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/Reply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/internal/UnspecificComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/SelectMenuComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/StringSelectComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/internal/MessageCreateDataReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/Implementation.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/FluavaLocalizer.java
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/I18n.java
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/Localizer.java
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/internal/JDACLocalizationFunction.java
  core/src/main/java/module-info.java
  gradle/libs.versions.toml
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/GuiceExtension.java
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/Implementation.java
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/internal/GuiceInteractionControllerInstantiator.java
  guice-extension/src/main/java/com/github/kaktushose/jda/commands/guice/internal/InteractionControllerInstantiatorModule.java
Labels: t:enhancement

#204 Fix recursion error in ConcurrentHashMap while loading extensinos
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  flake.nix
Labels: t:bug, p:high, s:completed

#199 Make Validator type safe
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/Constraint.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/NotPerm.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/constraints/Perm.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/AnnotationDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/ClassDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/Description.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/MethodDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/PackageDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/ParameterDescription.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/description/reflective/ReflectiveDescriptor.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/Runtime.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/context/InvocationContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/middleware/impl/ConstraintMiddleware.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/Validator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/internal/Validators.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/ErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/JsonErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/Implementation.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/I18n.java
  core/src/test/java/commands/SlashCommandDefinitionTest.java
  core/src/test/java/parameters/OptionDataDefinitionTest.java
  core/src/test/java/parameters/ParameterTestController.java
  gradle/libs.versions.toml
Labels: t:enhancement, p:high, s:completed
