Repository Kaktushose/jda-commands, pull requests merged in 2025-03, with the labels that each got.

#164 Prevent null arguments from being validated (fixes #160)
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/middleware/impl/ConstraintMiddleware.java
Labels: t:bug, p:low, s:completed

#166 [FEATURE] Support filtering auto complete for specific options
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/AutoComplete.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/AutoCompleteDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/OptionDataDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/AutoCompleteHandler.java
  core/src/test/java/parameters/OptionDataDefinitionTest.java
Labels: t:enhancement, p:high, s:completed

#167 Bump to JDA 5.3.0 and add support for User Installable Apps
  core/src/main/java/com/github/kaktushose/jda/commands/JDACBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/JDACommands.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/CommandConfig.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/ContextCommand.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/SlashCommand.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/MethodBuildContext.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/MemberAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/adapter/impl/RoleAdapter.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/handling/command/SlashCommandHandler.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotPermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/NotRoleValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/PermissionValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/validation/impl/RoleValidator.java
  core/src/main/java/com/github/kaktushose/jda/commands/extension/JDACBuilderData.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/Helpers.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/register/CommandTree.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/register/SlashCommandUpdater.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/register/TreeNode.java
  core/src/main/java/com/github/kaktushose/jda/commands/permissions/DefaultPermissionsProvider.java
  core/src/test/java/adapting/mock/GuildMock.java
  core/src/test/java/adapting/mock/MemberMock.java
  core/src/test/java/adapting/mock/RoleMock.java
  core/src/test/java/adapting/mock/SlashCommandInteractionMock.java
  core/src/test/java/adapting/mock/TextChannelMock.java
  core/src/test/java/commands/SlashCommandDefinitionTest.java
  core/src/test/java/reply/ReplyConfigTest.java
  gradle/libs.versions.toml
Labels: t:enhancement, p:low, s:completed

#173 move enabledFor to CommandConfig, unify command annotations
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/AutoComplete.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Choices.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Command.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/CommandConfig.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/CommandScope.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/ContextCommand.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Interaction.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Optional.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Param.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/Permissions.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionRegistry.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/CommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/ContextCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/command/SlashCommandDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/internal/register/TreeNode.java
  core/src/test/java/adapting/mock/TypeAdapterRegistryTestController.java
  core/src/test/java/commands/CommandDefinitionTestController.java
Labels: t:enhancement, p:high, s:completed

#168 Dynamic components
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/MenuOption.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/MenuOptionContainer.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/ReplyConfig.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/interactions/StringSelectMenu.java
  core/src/main/java/com/github/kaktushose/jda/commands/annotations/internal/package-info.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/Definition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/features/JDAEntity.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/CustomId.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/InteractionDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/ModalDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/ButtonDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/ComponentDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/EntitySelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/definitions/interactions/component/menu/StringSelectMenuDefinition.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/ModalReplyableEvent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/Component.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/ConfigurableReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/MessageReply.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/ButtonComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/ModalBuilder.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/internal/UnspecificComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/EntitySelectMenuComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/SelectMenuComponent.java
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/reply/dynamic/menu/StringSelectComponent.java
  core/src/main/java/module-info.java
  jda-commands/build.gradle.kts
Labels: t:enhancement, p:high, s:completed
