Repository Kaktushose/jda-commands, pull requests merged in 2025-09, with the labels that each got.

#230 add localize method to Event
  core/src/main/java/com/github/kaktushose/jda/commands/dispatching/events/Event.java
Labels: type:feature, change:api

#229 Fix embed placeholders not working for color, timestamp and urls
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/Embed.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/EmbedDataSource.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/error/DefaultErrorMessageFactory.java
  core/src/main/java/com/github/kaktushose/jda/commands/embeds/internal/Embeds.java
  core/src/test/java/embeds/EmbedTest.java
  core/src/test/resources/embeds/embeds.json
  core/src/test/resources/embeds/en.ftl
Labels: type:fix, change:api, change:internal

#234 Introduce new refactored ci
  .github/labeler.yml
  .github/release.yml
  .github/workflows/cd.yml
  .github/workflows/check-if-release/action.yml
  .github/workflows/check-if-release/java/CheckRelease.java
  .github/workflows/ci.yml
  .github/workflows/git_on_release.yml
  .github/workflows/pr.yml
  .github/workflows/setup-gradle/action.yml
  .github/workflows/wiki.yml
  buildSrc/src/main/kotlin/io/github/kaktushose/jda/commands/convention/java.gradle.kts
  flake.nix
  gradle.properties
  wiki/docs/assets/adapter.png
  wiki/docs/assets/cookie-clicker.gif
  wiki/docs/assets/cooldown.png
  wiki/docs/assets/expiration.png
  wiki/docs/assets/intellij.png
  wiki/docs/assets/permissions.png
  wiki/docs/assets/plugin.png
  wiki/docs/assets/runtime.png
  wiki/docs/assets/validator.png
  wiki/docs/di.md
  wiki/docs/extension/configuring.md
  wiki/docs/extension/overview.md
  wiki/docs/extension/writing.md
  wiki/docs/index.md
  wiki/docs/interactions/commands.md
  wiki/docs/interactions/components.md
  wiki/docs/interactions/modals.md
  wiki/docs/interactions/overview.md
  wiki/docs/interactions/reply.md
  wiki/docs/localization.md
  wiki/docs/middlewares/cooldown.md
  wiki/docs/middlewares/overview.md
  wiki/docs/middlewares/permissions.md
  wiki/docs/middlewares/typeadapter.md
  wiki/docs/middlewares/validator.md
  wiki/docs/misc/embeds.md
  wiki/docs/misc/error-handling.md
  wiki/docs/misc/reflection.md
  wiki/docs/start/installation.md
  wiki/docs/start/quick-start.md
  wiki/docs/start/runtime.md
  wiki/mkdocs.yml
  wiki/overrides/main.html
  wiki/requirements.txt
Labels: meta:ci, t:refactor

#235 Replaces # with $ for bundle name separation and adds escaping mechanism
  core/src/main/java/com/github/kaktushose/jda/commands/i18n/I18n.java
  wiki/docs/interactions/components.md
  wiki/docs/localization.md
Labels: meta:wiki, meta:source code, type:fix
